@keyframes rotate360{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
@keyframes loading-dots{
    0%, 50%, 100%{top: 0;}
    25%{top: 1em;}
    75%{top: -1em;}
}
@keyframes way-to-ank{
    /* and here we are again... */
}