@import "./style/statics.css";
@import "./style/components/tables.css";
@import "./style/components/inputs.css";
@import "./style/components/layouts.css";
@import "./style/components/navs.css";
@import "./style/components/selects.css";
@import "./style/components/sliders.css";
@import "./style/components/cards.css";
@import "./style/components/forms.css";
@import "./style/components/notes.css";
@import "./style/components/buttons.css";
@import "./style/components/codes.css";
@import "./style/components/graph.css";
@import "./style/icons/styles.css";
@import "./style/animations.css";

*{
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}

.error-screen{
    padding: 1em;
    margin: 2em 1em;
    background-color: #fdfdfd;
    border: 1px solid #e5e5e5;
    color: #666666;
    display: block;
}
.error-screen b{
    color: #444444;
}

