.head-div{
    display: flex;
    background-color: #f0f0f0;
    background-image: url(../imgs/head-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em 2em;
}
.head-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head-logo{
    width: 7vw;
}
.head-txt-holder{
    color: #222222;
    padding: 0 .5em;
}
.head-txt{
    font-size: 3vw;
    font-weight: bold;
    line-height: 1em;
}
.head-txt-moto{
    font-size: 1vw;
    line-height: 1em;
}

/* body */
.body-div{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.body-left{
    padding: 2em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}
.body-left-head-a,
.body-left-head-a-active,
.body-left-sub-a,
.body-left-sub-a-active,
.body-left-branch-a,
.body-left-branch-a-active{
    font-size: 1em;
    color: #a9a9a9;
    text-decoration: none;
    margin: .2em 1em;
    display: block;
    transition: color .25s;
}
.body-left-head-a-active,
.body-left-sub-a-active,
.body-left-branch-a-active{
    color: green;
}
.body-left-sub-a,
.body-left-sub-a-active{
    font-size: .8em;
    padding-left: .75em;
}
.body-left-sub-a::before,
.body-left-sub-a-active::before{
    content: " - ";
}
.body-left-branch-a,
.body-left-branch-a-active{
    font-size: .7em;
    padding-left: 2.5em;
}
.body-left-branch-a::before,
.body-left-branch-a-active::before{
    content: " - ";
}
.body-left-head-a:hover,
.body-left-sub-a:hover,
.body-left-branch-a:hover{
    color: #222222;
}

.body-mid{
    padding: 2em;
    flex: 5;
    border-left: 1px solid #e5e5e5;
}
.body-right{
    padding: 2em .5em;
    flex: 1;
}
.body-right-head-holder{
    padding: .5em;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #e5e5e5;
    position: sticky;
    top: .2em;
}
.body-right-head-holder:empty{
    padding: 0; 
    border-bottom: 0;
}
.body-right-head,
.body-right-head:active{
    padding: 0 .5em;
    color: #a9a9a9;
    font-size: .7em;
    margin-bottom: .2em;
    text-decoration: none;
    transition: color .25s;
}
.body-right-head:hover{
    color: green;
}

/* footer */
.footer-div{
    background-color: #1a1a1a;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fdfdfd;
    font-family: monospace;
}
.footer-rights{
    flex: 1;
    font-size: .6em;
}
.github-logo,
.github-logo:active{
    flex: 1;
    text-decoration: none;
    color: #fdfdfd;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
}
.github-logo:hover{
    opacity: 1;
}
.footer-downloads{
    flex: 1;
    font-size: .6em;
    text-align: right;
}
.footer-downloads a{
    text-decoration: none;
    color: #a9a9a9;
}
.footer-downloads a:hover{
    color: green;
}

/* pages style */
space{
    margin: 2em 0;
    display: block;
}
h1, h2, h3{
    color: #1a1a1a;
    font-size: 2em;
    border-bottom: 1px solid #e5e5e5;
}
h2{font-size: 1.5em;}
h3{font-size: 1.2em;}
.np{
    font-size: 1em;
    padding: .5em 0;
    color: #1a1a1a;
    text-align: justify;
}
.np a{
    color: green;
    text-decoration: none;
}
.np a:hover{
    text-decoration: underline;
}
.np-note{
    font-size: .8em;
    color: #bbbbbb;
    background-color: #f9f9f9;
    padding: 1em;
}
.np-note-green{
    font-size: .9em;
    background-color: #f0f0f0;
    color: #222222;
    padding: 1.5em 2em;
    border-left: 5px solid darkseagreen;
}
.np-note-green a{
    color: green;
    text-decoration: none;
}
.np-note-green a:hover{
    text-decoration: underline;
}
.nl{
    padding: 1em 2em;
}
.nli a{
    color: green;
    text-decoration: none;
}
.nli a:hover{
    text-decoration: underline;
}
.ncode{
    display: block;
    margin: .5em 0;
    padding: 1.5em 2em;
    background-color: #1a1a1a;
    color: #fdfdfd;
    font-size: .9em;
    font-family: monospace;
}
.dcode{
    padding: 1em;
    border: 1px solid #e5e5e5;
}
code-line{
    display: block;
    font-family: monospace;
}
html-tag-border, js-var, js-bracket{
    color: lightslategrey;
    font-size: .9em;
    font-family: monospace;
}
html-tag-attr{
    color: lightslategrey;
    font-size: .9em;
    font-family: monospace;
}
html-tag-attr-val, js-txt{
    color: darkseagreen;
    font-size: .9em;
    font-family: monospace;
}
js-func{
    color: lightsteelblue;
    font-size: .9em;
    font-family: monospace;
}
js-obj-key{
    color: peachpuff;
    font-size: .9em;
    font-family: monospace;
}